/* reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear {
    clear: both;
}
.text-white {
    color: #fff !important;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
#app {
    
}

#header {
    height: 46.34px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav {
    display: inline-block;
}
.nav li {
    display: inline-block;
    position: relative;
}
.nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
.nav li a {
    text-decoration: none;
    padding: 0 16px;
    line-height: 46.34px;
    display: inline-block;
}
.nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 100%;
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.4);
}
.nav .subnav a {
    color: #000;
    padding: 0 12px;
    min-width: 160px;
    line-height: 38px;
}
.nav li:hover .subnav{
    display: block;
}
.nav > li:hover > a,
.nav .subnav li:hover a { 
    color: #000;
    background-color: #ccc;
    
}
.nav .class-down {
    font-size: 12px;
}
#header .search-btn {
    float: right;
}
#header .class-menu-icon,
#header .class-search-icon {
    color: #fff;
    font-size: 15px;
    line-height: 46.34px;
    padding: 18px;
}
#header .mobile-menu-btn {
    float: right;
}
#header .mobile-menu-btn:hover .class-menu-icon {
    background-color: #ccc;
    color: #000;
}
#header .search-btn:hover {
    background-color: orangered;
    cursor: pointer;
}
#slider {
    position: relative;
    padding-top: 50%;
    margin-top: 46.34px;
    background: url('/Project/assets/img/slider1.jpg') no-repeat top center / cover;

}
#slider .text-content {  
    position: absolute;
    color: #fff;
    bottom: 47px;
    width: 100%;
    text-align: center;
}
#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;

}
#slider .text-description {
    font-size: 15px;

}

#content {
    
}
#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-header {
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 500;
}
#content .section-sub-header{
    text-align: center;
    margin-bottom: 25px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-content {
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}
#content .member-list {
    text-align: center;
}
#content .member-item {
    float: left;
    margin-top: 62px;
    width: calc(100%/3);
}
#content .member-name {
    margin-bottom: 15px;
    font-size: 15px;
}
#content .member-img {
    width: 60%;
    border-radius: 4px;
    margin-bottom: 16px;
}
.tour-section {
    background: #000;
}
.tour-section li {
    background: #fff;
    font-size: 15px;
    color: #757575;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
    padding: 8px 16px;
}
.tour-section .sold-out {
    background: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 3px 8px;
}
.tour-section .quantity {
    float: right;
    background: #000;
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    margin-top: -3px;
}
.places-list {
    margin: 16px -8px 0;
}
.place-item {
    float: left;
    width: 33.33%;
    padding: 8px;
}
.place-img {
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body {
    background-color: #fff;
    padding: 15px;
    font-size: 15px;
    letter-spacing: 1.4;
}
.place-name {
    margin-top: 15px;
    font-weight: 550;
}
.place-time {
    margin-top: 15px;
    color: #757575;
}
.place-desciption {
    margin: 15px 0;
}
.btn-buy-ticket {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10px 22px;
    display: inline-block;
    font-size: 15px;
}
.btn-buy-ticket:hover {
    color: #000;
    background-color: #ccc;
} 
.address-contact p i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.address-contact {
    float: left;
    font-size: 18px;
    line-height: 1.4;
}
.form-contact {
    margin-left: 50%;
    font-size: 16px;
}
.input-control-name {
    float: left;
    width: 48%;
    padding: 10px 8px;
    border: 1px solid #ccc;
    margin-right: 5px;
}
.input-control-email {
    width: 48%;
    padding: 10px 8px;
    border: 1px solid #ccc;
    margin-left: 10px;
}
.input-control2 {
    width: 100%;
    padding: 10px 8px;
    border: 1px solid #ccc;
    margin-top: 8px;
}
.send-control:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.send-control {
    float: right;
    padding: 10px 16px;
    margin: 16px 0 48px;
    color: #fff;
    background-color: #000;
    border: none;
}
.img-map {
    width: 100%;
}
#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .social-list a {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .social-list a:hover {
    opacity: 0.5;
}
.footer-own {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
}
.footer-own a {
    color: rgba(0, 0, 0, 0.6);
}
.modal.open {
    display: flex;
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    background-color: rgba(0, 0, 0, 0.4) ;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal label {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
}
.modal input{
    margin-bottom: 18px;
    width: 100%;
    border: 1px solid;
    padding: 8px;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;    
    max-width: calc(100% - 32px);
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-close:hover {
    opacity: 0.5;
}
.modal-close {
    color: #fff;
    position: absolute;
    right: 0;   
    padding: 18px;
    cursor: pointer;
}
.icon-bag {
    margin-right: 16px;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
}

.modal-body {
    padding: 20px 16px;
    
}
#buy-ticket:hover {
    opacity: 0.5;
}
#buy-ticket {
    color: #fff;
    background-color: #009688;
    width: 100%;
    padding: 16px;
    font-weight: 600;
    cursor: pointer;
}
.modal-footer {
    float: right;
    padding: 10px 16px;
    font-size: 15px;
    margin-bottom: 15px;
}
.modal-footer  a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}